<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik" value="https://nuget.telerik.com/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="PrakorbS@falconinsurance.co.th" />
      <add key="ClearTextPassword" value="Fci@12345#" />
    </Telerik>
  </packageSourceCredentials>
</configuration>