
<div class="modal-body">
    <div class="text-center">
        <p class="f5 text-primary">
            บริษัทฯ จะติดต่อกลับท่านภายใน 1 วันทำการ <br />
            หรือติดต่อฝ่ายลูกค้าสัมพันธ์ Line : @@falconcs
            คลิก <a href="http://line.me/ti/p/~@@FalconCS">
                http://line.me/ti/p/~@@FalconCS
            </a><br />
            โทร. 02-037-9988
        <p>
            <input type="hidden" name="bookId" id="rnNo" value="" />
</div>
    </div>
<div class="modal-footer">
    <div class="text-center">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
    </div>
</div>
